@import '@/styles/function.scss';

.wrapper {
  display: flex;
  align-items: flex-start;

  width: 100%;
  margin: 0 auto;
  flex: 1;
  @media screen and (max-width: 1024px) {
    display: block;
  }
}
.content {
  flex: 1;
  position: relative;
  padding: 0 clamp(2rem, 3.3613445378vw, 4rem);
}
