@import '@/styles/var.scss';
@import '@/styles/function.scss';

.search {
  position: relative;

  width: 32rem;
  height: 4.2rem;

  border-radius: 1rem;
  box-sizing: border-box;

  background-color: var(--grayLv1);
  color: var(--surface);

  padding: 0 1rem 0 1.6rem;
  transition: all 0.1s;

  display: flex;
  align-items: center;

  input[type='search'] {
    width: 100%;
    flex-grow: 1;
    border: none;
    background: none;
    outline: none;
    height: 100%;

    &::placeholder {
      color: var(--grayLv3);
    }
  }
  &:focus-within {
    outline: 2px solid var(--primary);
  }
}

.btnSearch {
  background: none;
  border: none;
  width: 3.2rem;
  height: 3.2rem;
  padding: 0;
}

@media screen and (max-width: 640px) {
  .search {
    width: 100%;
  }
}
