@import '@/styles/var.scss';
@import '@/styles/function.scss';

.search {
  position: relative;

  width: 32rem;
  height: 4.2rem;

  padding: 0 1rem 0 1.6rem;
  border-radius: 1rem;
  box-sizing: border-box;

  background-color: var(--grayLv1);
  color: var(--surface);

  transition: all 0.1s;

  input[type='search'] {
    max-width: 24rem;
    flex-grow: 1;
    border: none;
    background: none;
    outline: none;
    height: 100%;

    &::placeholder {
      color: var(--grayLv3);
    }
  }
  &:focus-within {
    outline: 2px solid var(--primary);
  }
}

.btnSearch {
  background: none;
  border: none;
  width: 3.2rem;
  height: 3.2rem;
  padding: 0;

  position: absolute;
  right: 0.8rem;
  top: 50%;
  transform: translateY(-50%);
}

@media screen and (max-width: 640px) {
  .search {
    width: 100%;
  }
}
